<!DOCTYPE html>
<html>

<head>
    <title>Hipster Puppies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Hipster Puppies!</h1>
        <h2>Here's some pics of Kepler</h2>
    </div>

    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>